@import "{{ site.theme }}";
.banner {
    background-color: #1a1a1a; /* Dark background for the banner */
    color: #f0f0f0; /* Light text color */
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    opacity: 0.8;
}